:root {
  --inaltime-linie: 90px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0 3% 0 3%;
}
.inline {
  display: inline-block;
}
.nav-container {
  background-color: rgb(52, 54, 54);
  font-family: Arial;
  color: white;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: var(--inaltime-linie);
  grid-template-areas: "left right";
}

.home {
  background-color: rgb(71, 124, 71);
  grid-area: left;
  text-align: center;
  line-height: var(--inaltime-linie);
}
.right-menu-wrapper {
  grid-area: right;
  line-height: var(--inaltime-linie);
}
.right-menu-wrapper > div {
  padding-left: 12px;
}

.menu-burger {
  display: none;
}

@media screen and (max-width: 480px) {
  .right-menu-wrapper {
    display: none;
  }
  .menu-burger {
    grid-area: right;
    justify-self: end;
    display: block;
    padding-right: 10px;
    /* the vertical alignment bellow: */
    line-height: var(--inaltime-linie);
    /* padding-top: 10px; */
  }
}
